
<div class="footerStat">
  
  <hr>
              CST336 Internet Programming. 2019&copy; Thach Doan<br />
              <strong>Disclaimer:</strong> The information in the webpage is fictitious. <br />
              It is used for academic purpose only.
          <figure>
              <img src = "img/csumb.png" alt = "picture of csumb school logo" />
          </figure>
            
</body>
</div>
</html>