
       <% include partials/header.ejs %>
      <header>
       <h1>
            <%= user %>
         
          </h1>  
           <p id="job">
            My job title is <%= job %>
            </p>
         
          <hr />
          <nav>
              <a href ="/"> Home</a>
              <a id = "current" href ="/about"> About</a>
              <a href ="/contact">Contact</a>
          </nav>
          <br /><br />
          
          <div id = "content">
            <!-- Create the table to hold experience data -->
            <table>
              <tr id = "table-header">
                <td><strong>Porgramming Language</strong></td>
                <td><strong>Years Experience</strong></td>
              </tr>
              <tr class="table-row">
                 <td>Java</td>
                 <td>3</td>
              </tr>
              <tr class = "table-row">
                  <td>PHP</td>
                  <td>1</td>
              </tr>
            </table>
            
            
            <ul>
              <li><span class="hobby"> Video Games</span>: I own 2 Consoles and only like MMORPG but i like legend of zelda</li>
              <li><span class="hobby"> Football</span>: I am in a fantasy football league every year.</li>
              <li><span class="hobby">Music</span>: I love all kind of music.</li>
              <li><span class="hobby">Programming</span>: I like to learn all programming languages.</li>
            </ul>
            
           
          </div>
      </header>
    
<% include partials/footer %>
        
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
