 <% include partials/header.ejs %> 


 <header>
         <h1>
            <%= user %>
         
          </h1>  
           <p id="job">
            My job title is <%= job %>
            </p>
          <hr />
          <nav>
              <a id = "current" href ="/"> Home</a>
              <a href ="/about"> About</a>
              <a href ="/contact">Contact</a>
          </nav>
          <br /><br />
          <div>
       
  </div>
          <main>
          
            <figure>
                <img src="img/DragonBall.PNG" alt = "Picture of What I like." />
            </figure>
            <div>
                Hello! <br />
                  <p>
                    Thank you for visiting my professional portfolio website.
                  </p>
                  <p>
                    I am a Computer Science Major.
                  </p>
                  <p>
                    Feel free to contact Me!
                  </p>
                  <br /><br />
                  <em>"With ordinary talent and extraordinary <strong>perservation</strong>,
              all things are attainable"</em><br />
                  - Thamos F. Buxton
            </div>
          </main>
      </header>
  <% include partials/footer %>