 <% include partials/header.ejs %> 


  <header>
        <h1>
          Type of hackers
          </h1>
        <div class="dropdown" style="float:right;">
          <button class = "dropbtn">Menu</button>
          <div class = "dropdown-content">
            <a href="/"> Main</a>
            <a href="/whitehat"> White Hat</a>
            <a href="/blackhat"> Black Hat</a>
            <a href="/grayhat"> Gray Hat</a>
          </div>
         
          </div>
          
      </header>
     <br /> <br />
      <main>
            <p>
              There are many <strong>hackers</strong> type out there. <br />
              In this page, I will explain about 3 types of hackers.
            </p>
            <a class="link" href="https://us.norton.com/internetsecurity-emerging-threats-what-is-the-difference-between-black-white-and-grey-hat-hackers.html">
              hackers resources</a>
        <br /> <br />
       <div class="row">
          <div class="container">
            <img src="img/whitehat.jpg" alt="white hat" class="image">
            <div class="overlay">
              <div class="text"> White hat hacker</div>
            </div>
         </div>
         <div class="container">
            <img src="img/blackhat.jpg" alt="white hat" class="image">
            <div class="overlay">
              <div class="text"> black hat hacker</div>
            </div>
         </div>
         
          <div class="container">
            <img src="img/grayhat.jpg" alt="white hat" class="image">
            <div class="overlay">
              <div class="text"> gray hat hacker</div>
            </div>
         </div>
        </div>
             
          </main>
      
  <% include partials/footer %>