footer {
  text-align: center;
  font-size: .8em;
}

.dropbtn {
  background-color: green;
  color: blue;
  padding: 16px 46px;
  font-size: 16px;
  border: 1px dooted blue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 26px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

header {
  text-align: center;
}

nav {
  float: right;
}

p {
  text-align: center;
  font-size: 2em;
}

.container {
  position: relative;
  width: 50%
}

.image {
  display: block;
  width: 50%;
  height: auto;
}

.overlay {
  absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100;
  width: 100;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: orange;
  font-size: 20Px;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

main {
  background-color: #fb040a;
}
#main {
  background-color: #c95b39;
}
.row {
  display: flex;
}
.whitehat {
  background-color: white;
}

.blackhat {
  background-color: black;
}

.grayhat {
  background-color: gray;
}

.blackimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.whiteimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.wfont {
  color: black;
}

.link {
  font-size: 20px;
}

.footerStat {
  text-align: center;
}

#job {
  text-align: center;
}

.bfont {
  color: white;
}